/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body
{
background:url("../images/top_image.jpg") no-repeat top center #ffffff;
font-family: Rockwell;
font-size: 12px;
color: #8e8e8e;
background-size: 100% auto;
}



.logo-img {
    text-align: center;
    width: 100%;
	margin-top: 50px;
}

img#logo {
    width: 25%;
}


.block-nice-menus .navigation_title
{
display: block;
color: #ffffff;
cursor: pointer;
display: flex;
font-size: 16px;
margin-bottom: 10px;
justify-content: space-between;
}

.block-nice-menus .navigation_title:before
{
content: "\f0c9";
font-family: FontAwesome;
font-size: 16px;
color: #ffffff;
}

ul.nice-menu
{
width: 100%;
margin-bottom: 20px;
}

ul.nice-menu.hidden
{
display:none;
}


ul.nice-menu li,
ul.nice-menu-down li.menuparent:hover {
    display: inline;
    float: left;
    margin: 0;
    width: 100%;
	border: 0;
	background: transparent;
}


ul.nice-menu-down li.menuparent ul li
{
    margin-left: 10%;
    width: 90%;
}

.responsive-layout-mobile ul.nice-menu-down li.menuparent ul {
    display: block!important;
    visibility: visible!important;
	position: relative!important;
	top: auto;
	border: 0;	
}

.responsive-layout-mobile ul.nice-menu-down li.menuparent {
    background: none no-repeat scroll right center transparent;
}

.block-nice-menus {
    background: none repeat scroll 0 0 #34455f;
    border-radius: 5px;
    display: block;
    float: none;
    padding: 15px 5% 5px;
    width: 75%;
	margin: 25px auto 50px;
}

ul.nice-menu a,
ul.nice-menu span
{
text-decoration: none;
color: #a2adbc;
border: medium none;
border-radius: 5px;
margin: 0 0 5px;
padding: 15px;
transition: none 0s ease 0s ;
background: none repeat scroll 0 0 #223149;
display: block;
}

ul.nice-menu a:hover,
ul.nice-menu span:hover
{
color: #ffffff;
}



#region-header-first .content p {
    background: url("../images/message_underline.png") no-repeat scroll center 40px transparent;
    padding-bottom: 40px;
}

#region-header-first .content {
    color: #a0a0a0;
    font-size: 30px;
    text-align: center;
}


body.front #zone-content h1#page-title {
    display: none;
}















body.front #zone-content h1#page-title
{
display: none; 
}



h1#page-title {
    color: #1f1f1f;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}



.view-frontend-blog .views-row .term-node-tid,
.view-frontend-blog .views-row .like,
.view-frontend-blog .views-row .comment-count
{
margin-right:10px;
color: #b7b7b7;
font-size: 14px;
display: inline; 
}

.view-frontend-blog .views-row .views-field-created
{
float: left;
margin-right:10px;
color: #b7b7b7;
font-size: 14px;
}

.view-frontend-blog .views-row .views-field-created span.field-content
{
    border: 7px solid #ebebeb;
    border-radius: 100px;
    color: #3eb3a5;
    display: inline-block;
    font-size: 20px;
    padding: 24px 5px;
    text-align: center;
    width: 70px;
} 


.view-frontend-blog .views-row .comment-count:before
{
content: "\f075";
font-family: FontAwesome;
font-size: 16px;
color: #3eb3a5;
padding-right: 5px;
}


.view-frontend-blog .views-row  .views-field-comment-count
{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px;
    margin-left: 94px;
    margin-top: 14px;
    padding-bottom: 10px;
    text-align: left;
}




.view-frontend-blog .views-row .like:before
{
content: "\f004";
font-family: FontAwesome;
font-size: 16px;
color: #3eb3a5;
padding-right: 5px;
}

.view-frontend-blog .views-row .like:after
{
content: "Likes";
}

.view-frontend-blog .views-row .like > div
{
display: inline;
}

.view-frontend-blog .views-row .views-field .like span.lb-a
{
display:none;
}

.view-frontend-blog .views-row .views-field .like span.likebtn-button.lb-like.lb-voted
{
    border: 0 none;
    margin: 0;
    padding: 0;
}

.view-frontend-blog .views-row .views-field .like span.lb-count.lb-hidden,
.view-frontend-blog .views-row .views-field .like span.lb-like,
.view-frontend-blog .views-row .views-field .like span.lb-count
{
border: 0;
color: #b7b7b7;
font-size: 14px;
padding: 0;
line-height: 11px;
}


.view-frontend-blog .views-row .views-field .like .likebtn-wrapper
{
line-height: 11px;
}


.view-frontend-blog .views-row .like,
.view-frontend-blog .views-row .term-node-tid
{
    border-right: 1px solid #ebebeb;
    padding-right: 10px;
}

.view-frontend-blog .views-row .like .lb-hidden {
    display: inline;
}

.view-frontend-blog .views-row .term-node-tid
{
    border-right: 1px solid #ebebeb;
    padding-right: 10px;
}

.view-frontend-blog .views-row .term-node-tid a
{
color: #3eb3a5;
text-decoration: none;
}


.view-frontend-blog .views-row
{
    background:url("../images/border_bottom.png") repeat-x scroll left bottom transparent;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.view-frontend-blog .views-row .views-field-view-node
{
margin-left: 104px;
}

.view-frontend-blog .views-row .image
{
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}


.view-frontend-blog .views-row .image img {
    height: auto;
    width: 100px;
}


.view-frontend-blog .views-row .title a
{
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.view-frontend-blog .views-row .view-node a
{
    color: #3eb3a5;
    font-weight: 700;
    text-decoration: none;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 5px;
}

.view-frontend-blog .views-row .view-node
{
margin-top: 10px;
float: right;
}







#breadcrumb
{
display:none;
}



body.node-type-article h1#page-title
{
display:none;
}



.view-article-page .views-row .term-node-tid,
.view-article-page .views-row .like,
.view-article-page .views-row .comment-count
{
margin-right:10px;
color: #b7b7b7;
font-size: 14px;
display: inline; 
}

.view-article-page .views-row .views-field-created
{
float: left;
margin-right:10px;
color: #b7b7b7;
font-size: 14px;
}

.view-article-page .views-row .views-field-created span.field-content
{
    border: 7px solid #ebebeb;
    border-radius: 100px;
    color: #3eb3a5;
    display: inline-block;
    font-size: 20px;
    padding: 24px 5px;
    text-align: center;
    width: 70px;
} 


.view-article-page .views-row .comment-count:before
{
content: "\f075";
font-family: FontAwesome;
font-size: 16px;
color: #3eb3a5;
padding-right: 5px;
}


.view-article-page .views-row  .views-field-comment-count
{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px;
    margin-left: 94px;
    margin-top: 14px;
    padding-bottom: 10px;
    text-align: left;
}



.view-article-page .views-field-field-image img {
    height: auto;
    width: 100%;
}



.view-article-page .views-row .like:before
{
content: "\f004";
font-family: FontAwesome;
font-size: 16px;
color: #3eb3a5;
padding-right: 5px;
}

.view-article-page .views-row .like:after
{
content: "Likes";
}

.view-article-page .views-row .like > div
{
display: inline;
}

.view-article-page .views-row .views-field .like span.lb-a
{
display:none;
}

.view-article-page .views-row .views-field .like span.likebtn-button.lb-like.lb-voted
{
    border: 0 none;
    margin: 0;
    padding: 0;
}

.view-article-page .views-row .views-field .like span.lb-count.lb-hidden,
.view-article-page .views-row .views-field .like span.lb-like,
.view-article-page .views-row .views-field .like span.lb-count
{
border: 0;
color: #b7b7b7;
font-size: 14px;
padding: 0;
line-height: 11px;
}


.view-article-page .views-row .views-field .like .likebtn-wrapper
{
line-height: 11px;
}


.view-article-page .views-row .like,
.view-article-page .views-row .term-node-tid
{
    border-right: 1px solid #ebebeb;
    padding-right: 10px;
}

.view-article-page .views-row .like .lb-hidden {
    display: inline;
}



.view-article-page .views-row .term-node-tid a
{
color: #3eb3a5;
text-decoration: none;
}


.view-article-page .views-row .views-field-title span
{
    color: #272727;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}


.view-article-page .views-row .views-field-title,
.view-article-page .views-row .views-field-body,
.view-article-page .views-row .views-field-field-image,
.view-article-page .views-row .views-field-term-node-tid-1
{
margin-left: 134px;
}

.view-article-page .views-row .views-field-field-image
{
margin-bottom: 40px;
margin-top: 40px;
}


.view-article-page .views-row .views-field-term-node-tid-1 span.views-label
{
color: #1f1f1f;
font-weight: bold;
font-size: 18px;
margin-right: 10px;
}

.view-article-page .views-row .views-field-term-node-tid-1 span.field-content a
{
color: #3eb3a5;
font-weight: normal;
font-size: 18px;
text-decoration: none;
}


.view-article-page .views-row .views-field-comment-count-1
{
margin: 40px 0;
padding: 40px 0;
border-bottom: 1px solid #ebebeb;
border-top: 1px solid #ebebeb;
}

.view-article-page .views-row .views-field-comment-count-1 .comment_count
{
color: #1f1f1f;
font-weight: bold;
font-size: 24px;
}

.view-article-page .views-row .views-field-comment-count-1 .next_stories a
{
color: #ffffff;
font-size: 16px;
text-decoration: none;
padding: 10px 25px;
display: inline-block;
}

.view-article-page .views-row .views-field-comment-count-1 .next_stories
{
    background: none repeat scroll 0 0 #3eb3a5;
    border-radius: 5px;
    float: right;

}










.view-taxonomy-articles .views-row .term-node-tid,
.view-taxonomy-articles .views-row .like,
.view-taxonomy-articles .views-row .comment-count
{
margin-right:10px;
color: #b7b7b7;
font-size: 14px;
display: inline; 
}

.view-taxonomy-articles .views-row .views-field-created
{
float: left;
margin-right:10px;
color: #b7b7b7;
font-size: 14px;
}

.view-taxonomy-articles .views-row .views-field-created span.field-content
{
    border: 7px solid #ebebeb;
    border-radius: 100px;
    color: #3eb3a5;
    display: inline-block;
    font-size: 20px;
    padding: 24px 5px;
    text-align: center;
    width: 70px;
} 


.view-taxonomy-articles .views-row .comment-count:before
{
content: "\f075";
font-family: FontAwesome;
font-size: 16px;
color: #3eb3a5;
padding-right: 5px;
}


.view-taxonomy-articles .views-row  .views-field-comment-count
{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px;
    margin-left: 94px;
    margin-top: 14px;
    padding-bottom: 10px;
    text-align: left;
}




.view-taxonomy-articles .views-row .like:before
{
content: "\f004";
font-family: FontAwesome;
font-size: 16px;
color: #3eb3a5;
padding-right: 5px;
}

.view-taxonomy-articles .views-row .like:after
{
content: "Likes";
}

.view-taxonomy-articles .views-row .like > div
{
display: inline;
}

.view-taxonomy-articles .views-row .views-field .like span.lb-a
{
display:none;
}

.view-taxonomy-articles .views-row .views-field .like span.likebtn-button.lb-like.lb-voted
{
    border: 0 none;
    margin: 0;
    padding: 0;
}

.view-taxonomy-articles .views-row .views-field .like span.lb-count.lb-hidden,
.view-taxonomy-articles .views-row .views-field .like span.lb-like,
.view-taxonomy-articles .views-row .views-field .like span.lb-count
{
border: 0;
color: #b7b7b7;
font-size: 14px;
padding: 0;
line-height: 11px;
}


.view-taxonomy-articles .views-row .views-field .like .likebtn-wrapper
{
line-height: 11px;
}


.view-taxonomy-articles .views-row .like,
.view-taxonomy-articles .views-row .term-node-tid
{
    border-right: 1px solid #ebebeb;
    padding-right: 10px;
}

.view-taxonomy-articles .views-row .like .lb-hidden {
    display: inline;
}

.view-taxonomy-articles .views-row .term-node-tid
{
    border-right: 1px solid #ebebeb;
    padding-right: 10px;
}

.view-taxonomy-articles .views-row .term-node-tid a
{
color: #3eb3a5;
text-decoration: none;
}


.view-taxonomy-articles .views-row
{
    background:url("../images/border_bottom.png") repeat-x scroll left bottom transparent;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.view-taxonomy-articles .views-row .views-field-view-node
{
margin-left: 104px;
}

.view-taxonomy-articles .views-row .image
{
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}


.view-taxonomy-articles .views-row .image img {
    height: auto;
    width: 100px;
}


.view-taxonomy-articles .views-row .title a
{
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.view-taxonomy-articles .views-row .view-node a
{
    color: #3eb3a5;
    font-weight: 700;
    text-decoration: none;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 5px;
}

.view-taxonomy-articles .views-row .view-node
{
margin-top: 10px;
float: right;
}













#region-footer-second .block p
{
color: #aeaeae;
font-size: 18px;
font-weight: normal;
text-align: center;
margin: 40px 0;
}

#region-footer-second .block p a
{
color: #3eb3a5;
text-decoration: none;
font-weight: bold;
}










article.comment .pane-title
{
display: none;
}


article.comment .user-picture
{
float: left;
}

article.comment .user-picture img
{
border-radius: 100px;
}

article.comment footer.comment-submitted,
article.comment div > div.field-name-comment-body,
article.comment nav.comment-links
{
margin-left: 120px;
}


article.comment footer.comment-submitted
{
padding-top: 25px;
}

article.comment footer.comment-submitted .username
{
color: #3eb3a5;
font-size: 24px;
font-weight: bold;
}


article.comment div > div.field-name-comment-body
{
color: #565656;
background: #ebebeb;
border-radius: 5px;
padding: 10px 20px;
width: 70%;
margin-top: 10px;
margin-bottom: 20px;
}

article.comment div > div.field-name-comment-body p
{
margin: 0;
}

article.comment nav.comment-links
{
margin-bottom: 20px;
}


article.comment nav.comment-links a
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0;
    color: #3eb3a5;
    text-transform: capitalize;
}
























.pane-comment-reply-form h2.pane-title
{
color: #1f1f1f;
font-weight: bold;
font-size: 24px;
text-align: center;
}

form.comment-form .fieldset-wrapper
{
display: none;
}


form.comment-form .form-item-name
{
float: left;
width: 49%;
margin-right: 1%;
margin-bottom: 0;
}

form.comment-form .form-item-name label
{
left : 355px;
padding-top: 16px;
}

body.page-comment-reply form.comment-form .form-item-name label
{
left : 360px;
}

form.comment-form .form-item-name input
{
float: right;
margin-left: 0;
width:100%;
}

form.comment-form .form-item-mail
{
float: right;
margin-left: 1%;
width: 49%;
margin-bottom: 0;
}

form.comment-form .form-item-mail label
{
left : 615px;
padding-top: 16px;
}

form.comment-form .field-name-comment-body
{
    clear: both;
    display: inline-block;
    margin: auto;
    width: 100%;
}

form.comment-form .field-name-comment-body label
{
left : 355px;
padding-top: 16px;
}


form.comment-form label
{
color:#888b8b;
font-size: 16px;
font-weight: normal;
}

form.comment-form .description
{
    color: #8e8e8e;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

form.comment-form input,
form.comment-form textarea
{
border:0;
background: #ebebeb;
padding: 20px;
border-radius: 5px;
color: #888b8b;
font-size: 16px;
font-weight: normal;
}

form.comment-form textarea
{
border-radius: 5px 5px 0 0;
}

form.comment-form input
{
height: 60px;
}


form.comment-form .form-item-mail input
{
float: left;
margin-right: 0;
width:100%;
}





body.page-comment-reply form.comment-form .field-name-comment-body .form-textarea-wrapper
{
margin-right: 0;
}


form.comment-form  .form-actions input
{
    width: 100%;
	background: #3eb3a5;
	color: #ffffff;
	border-radius: 5px;
	text-shadow: none;
	font-weight: bold;
}



#contact-site-form
{
margin: auto;
}

#contact-site-form .form-item-name
{
float: left;
width: 49%;
margin-right: 1%;
margin-bottom: 15px;
}


#contact-site-form .form-item-mail
{
float: right;
margin-left: 1%;
width: 49%;
margin-bottom: 15px;
}


#contact-site-form .form-item-subject
{
clear:both;
}

#contact-site-form input,
#contact-site-form textarea
{
width: 100%;

    background: none repeat scroll 0 0 #ebebeb;
    border: 0 none;
    border-radius: 5px;
    color: #888b8b;
    font-size: 16px;
    font-weight: normal;
    padding: 20px;
}

#contact-site-form input
{
height: 60px;
}


#contact-site-form textarea {
    border-radius: 5px 5px 0 0;
}


#contact-site-form .form-actions input {
    background: none repeat scroll 0 0 #3eb3a5;
    border-radius: 5px;
    color: #ffffff;
    float: right;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-shadow: none;
}

#contact-site-form label {
    color: #888b8b;
    font-size: 16px;
    font-weight: normal;
	padding-top: 16px;
	padding-left: 20px;
}